body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(235, 232, 228);
}
.App {
  /* display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  margin: 20px 3rem; */
  /* background-color: white; */
  /* justify-content: space-between; */
}
.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  margin: 20px 3rem;
}
.T-shirts {
  margin: 0;
  padding: 0;
}
.qtyInput {
  width: 30px;
}
.checkout {
  position: fixed;
  right: 20px;
  width: 34%;
  background-color: white;
  /* height: 300px; */
  padding: 0 30px 10px 30px;
}
.item {
  padding: 15px 10px;
  /* padding-top: 7px; */
  margin-bottom: 20px;
  background-color: white;
}
.item-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.right-itemInfo {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottomRight {
  text-align: right;
}
.qty {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
}
.gotoCheckout {
  margin-top: 3px;
  font-size: large;
  border: 2px solid blueviolet;
  background-color: blueviolet;
  color: whitesmoke;
  cursor: pointer;
  padding: 5px;
}
.gotoCheckout:hover {
  background-color: whitesmoke;
  color: blueviolet;
}
.checkout-info {
  display: flex;
  justify-content: space-between;
}
.qtyInfos {
  display: flex;
  align-items: center;
}
.btns {
  display: flex;
  /* flex-direction: column */
}
.button {
  margin: 1px;
  padding: 0;
  width: 15px;
  color: white;
  cursor: pointer;
}

.minusBtn {
  background-color: red;
  border: 1px solid rgb(241, 79, 79);
}
.minusBtn:hover {
  background-color: rgb(231, 0, 219);
  border: 1px solid rgb(255, 35, 171);
}
.plusBtn {
  background-color: green;
  border: 1px solid green;
}
.plusBtn:hover {
  background-color: rgb(77, 180, 146);
  border: 1px solid aqua;
}
a {
  cursor: pointer;
}
.popup {
  border: 1px solid darkorchid;
  color: whitesmoke;
  background-color: darkviolet;
  padding: 20px 50px;
  position: fixed;
  left: 45%;
  margin: 0;
  z-index: 2;
}
